body {
    font-family: sans-serif;
    font-weight: 700;

}

.banner {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: #FF6900;
    color: white;
    border-style: none;
}

#logo {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    display: block;
}

.icons {
    display: flex;
    fill: white;
    width: 5%;
    gap: 10px;

}


img {
    width: 100%;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 5% 10%;
}

.product {
    flex-basis: calc(90% / 3);
}

.showoff {
    position: relative;
}

.label {
    color: white;
    height: 25px;
    display: flex;
    align-items: center;
    line-height: 160%;
    gap: 5px;
    position: absolute;
    bottom: 50px;

}

.like {
    font-size: 40px;
    width: 50px;
    aspect-ratio: 1;
    text-align: center;
    color: #000000;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    right: 0;
}

.green {
    background-color: green;
    padding: 5px;
}

.red {
    background-color: red;
    padding: 5px;
}

.caption {
    color: #000000;
}

.capitalize {
    text-transform: capitalize;
}

.caps {
    text-transform: uppercase;
}

.price {
    color: red;
}

.discount {
    text-decoration: line-through;
}

footer .banner {
    background-color: #000000;
    height: 20vh;
    padding-inline: 10%;
    justify-content: space-between
}

.footcontainer .icons {
    width: 100%;
}


/* BOOOOONUS */

.model1b {
    display: none;
}

.showoff:hover .model1b {
    display: inline-block;
}

.showoff:hover .model1 {
    display: none;
}

.two .model2b {
    display: none;
}

.showoff:hover .model2b {
    display: inline-block;
}

.showoff:hover .model2 {
    display: none;
}

.three .model3b {
    display: none;
}

.showoff:hover .model3b {
    display: inline-block;
}

.showoff:hover .model3 {
    display: none;
}

.four .model4b {
    display: none;
}

.showoff:hover .model4b {
    display: inline-block;
}

.showoff:hover .model4 {
    display: none;
}

.five .model5b {
    display: none;
}

.showoff:hover .model5b {
    display: inline-block;
}

.showoff:hover .model5 {
    display: none;
}

.six .model6b {
    display: none;
}

.showoff:hover .model6b {
    display: inline-block;
}

.showoff:hover .model6 {
    display: none;
}